# Noir
circuits/*/target/
circuits/*/proofs/

# Foundry
contracts/out/
contracts/cache/
contracts/broadcast/

# Node
frontend/node_modules/
frontend/.next/
frontend/.env*.local

# OS
.DS_Store
*.swp

# Local Netlify folder
.netlify
